<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/estilos.css" rel="stylesheet">
    </head>
    <body>
    <header>
<div class="nav">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="info.html">About Us</a></li>
            <li><a href="registro.html">Registro</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
</div>
<div class="img"><img src="../img/fondo2.jpg" alt="Bienvenidos a mi Web!"></div>
</header>
<main class="main">
    <h1>mi web</h1>
    <div class="movies-container">
        <div class="movie">
            <img src="../img/pelicula1.jpg">
            <h3>Título de Película 1.</h3>
            <p>Descripción de Película</p>
        </div><br>

        <div class="movie">
            <img src="../img/pelicula2.jpg">
            <h3>Título de Película 2.</h3>
            <p>Descripción de Película</p>
        </div><br>

        <div class="movie">
            <img src="../img/pelicula3.jpg">
            <h3>Título de Película 3.</h3>
            <p>Descripción de Película</p>
        </div><br>

        <div class="movie">
            <img src="../img/pelicula4.jpg">
            <h3>Título de Película 4.</h3>
            <p>Descripción de Película</p>
        </div><br>

        <div class="movie">
            <img src="../img/pelicula5.jpg">
            <h3>Título de Película 5.</h3>
            <p>Descripción de Película</p>
        </div><br>

        <div class="movie">
            <img src="../img/pelicula6.jpg">
            <h3>Título de Película 6.</h3>
            <p>Descripción de Película</p>
        </div><br>
</main>
<footer class="footer">
<div>
       <div><ul class="col1">
            <li><a href="">La empresa</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">info</a></li>
            <li><a href="">head office</a></li>
        </ul>
    </div> 
    <div>
        <ul class="col2">
            <li><a href="">Productos</a></li>
            <li><a href="">Deposito</a></li>
            <li><a href="">Lista completa</a></li>
            <li><a href="">Precios</a></li>
        </ul>
    </div>
    <div>
        <ul class="col3">
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">info RRHH</a></li>
            <li><a href="">Envia tu c.v.</a></li>
            <li><a href="">Oficinas</a></li>
        </ul>
    </div>
    <div>
        <ul class="col4">
            <li><a href="">Marron</a></li>
            <li><a href="">Verde</a></li>
            <li><a href="">Azul</a></li>
            <li><a href="">Naranja</a></li>
        </ul>
    </div>
</div>
</footer>
    </body>
</html>