<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilolog.css">
    <title>Login</title>
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </div>
<main>
<div class="main">
    <h1>Login</h1>
    <div class="form">
            <form method="POST" action="logueado.html" >
            <input type="email" name="mail" id="mail" placeholder="e-mail" required><br>
            <input type="password" name="pass" id="pass" placeholder="Password" required><br>
            <button type="submit">Acepto</button>
            </form>
    </div>
</div>
</main>
    <div class="footer">
        <footer>Copidisc</footer>
    </div>
</body>
</html>